@import "tailwindcss";

@import "../styles/theme.css";
@import "../styles/animations.css";
html{
    scroll-behavior:smooth;
}
body{
background:var(--background);
font-family:var(--font-body);
color:var(--heading);
overflow-x:hidden;
-webkit-font-smoothing:antialiased;
text-rendering:optimizeLegibility;
}
h1,h2,h3{
font-family:var(--font-heading);
}
.number{
font-family:var(--font-number);
}